@font-face {
    font-family: "mainFont";
    src: url("../Fonts/JetBrainsMono-Regular.ttf");
}

*{
    font-family: "mainFont";
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
:root {
    --main-dark: #15191E;
  }

*::-webkit-scrollbar {
    width: 0em;
  }
   
#appCont{
    
    position:fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: var(--main-dark);
}

#spann{
    color:red;
}

#canvas-cont{
    width: 100%;
    height: calc(100% - 36px); /*because of tabs height*/
    overflow: auto;
    /* background-color: rgb(75, 75, 75); */
    background-color: #E0E2EB;

}
#canvas{
    overflow-x: auto;
    display: block;
    /* background-color: rgb(212, 90, 90); */
}


#cli-cont{
    width: 100%;
    height: 100%;   
    padding-top: 5px;
    background-color: var(--main-dark);
}

#cli-textarea2{
    white-space: pre;
    font-size: 14px;
    line-height: em;
    font-size: 1em;
    white-space: nowrap;
    overflow-x: auto;
    resize: none;
    width: 100%;
    height: 100%; 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 5px;
}

.highLite{
    width: 100%;
    height: 100%;
    /* display: flex;    
    flex-direction: row; */
    position: relative;
    /* white-space: nowrap; */
    /* overflow-x: auto;
    overflow-y: auto; */
  }
  

.highLite_editable{
    width: 100%;
    height: 100%;
    outline: none;
  }
  
  /* THE UNDERLAYING ONE WITH COLORS */
.highLite_colors {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    user-select: none;
  }

.highLite_colors_err{
    padding-top: 20px;
}
  
  /* THE OVERLAYING CONTENTEDITABLE WITH TRANSPARENT TEXT */
  highLite_editable {
    position: relative;
    -webkit-text-fill-color: transparent; /* Chrome: make text transparent */
    /* text-fill-color: trasparent;         One day, hopefully? */
    color: black;                         /* But keep caret black */
  }

.hl_angled{ color: turquoise; }
.hl_curly{ color: fuchsia; }

.highlight {
    background-color: yellow;
  }

.gutter {
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: rgb(128, 128, 128);
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor:row-resize;
}

.cli_tab_tag{
    outline: none;
    padding-top: 5px;
}
#cmd-prepender{
    padding-left: 5px;
}

#cmd-text{
    word-break: break-all;
    white-space: pre-wrap;
}
#cmd-info-text-prep{
    padding-right: 5px;
    color: #A8ED2E;
}

#cmd-err-text-prep{
    padding-right: 5px;
    color: #ED572E;
}
#cmd-info-text{
    word-break: break-all;
    white-space: pre-wrap;
    color: #E0E2EB;
}
#cmd-err-text{
    word-break: break-all;
    white-space: pre-wrap;
    color: #E0E2EB;
}

#cmd-text-number{
    word-break: break-all;
    white-space: pre-wrap;
    color: #2EB2ED;
}


/* .highLite_colors {
    width: 100%;
    height: 100%;
    outline: none; 
    padding-top: 5px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    color:#E0E2EB;
} */

.highLite_editable { 
    padding-left: 5px;
    align-items: center;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    color: #E0E2EB;
}

/* .highLite_editable::before{
    content: "CLI >";
    padding-left: 3px;
    padding-right: 10px;
    background-color: #5F9B6D;
    border-radius: 0px;
} */


/* .highLite_editable::before{
    content: "CLI>";
    padding-left: 3px;
    padding-right: 10px;
    background-color: turquoise;
    border-radius: 10px;
} */
